* {
    box-sizing: border-box;
    -moz-box-align: center;
    font-family: 'Gill Sans', sans-serif;
    background-color: #8eb9f1;
    padding: 4px;
    margin: auto;
   max-width: 400px;
   align-content: center;
   
}




